
.progress-container {
  left:0;
  width: 100%;
  height: 3px;
  margin-top: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: white;
  display: table;
  table-layout: fixed;
}

.progress-bar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color: $accent;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.button {
    background-color: $background-color;
    border-radius: 4px;
    border: none;
    color: $base-color;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
    border: 2px solid $accent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: $accent;
    color: white;
}


/*
  Spinner Style
  http://tobiasahlin.com/spinkit/
*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*
 Search
*/

div.search-query {
    $button-color: lighten($accent, 15%);
    $border-radius: 3px !default;
    $border-width: 1px !default;
    $border-color: #444 !default;

    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 10px;

    h2 {
        margin-top: 10%;
        margin-bottom: 15px;
    }

    a, a:hover, a:focus, a:active {
        color: $light-gray;
        text-decoration: none;
    }

    input[type="text"] {
        width: 80%;
        vertical-align: middle;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;

        border-style: solid;
        border-color: $border-color;
        border-width: $border-width;
        border-radius: $border-radius;
        transition: box-shadow .2s ease;

        &:focus {
          outline: none;
          border-color: $accent;
          box-shadow: 0 0 2px $accent;
        }
    }
}


div.search-results {
    border-top: 1px solid white;
    font-size: 1rem;
    margin: auto;
    width: 85%;

    div.single-search-result {
        border-bottom: 1px solid transparentize(black, 0.9);
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        margin: 0;
        vertical-align: middle;
    }

    h2 {
        font-size: 1em;
        margin: 0;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
    }

    p {
        line-height: 110%;
        margin: 0;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    p.date {
        color: transparentize(black, 0.5);
        font-style: italic;
    }
}
