@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Inconsolata";
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Navbar
 */

#title-name {
    font-size: 30px;
    color: #1A237E;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: calc(100vh - 70px);
}

.container a {
    text-decoration: none;
    color: $accent;
}
.container a:hover {
    text-decoration: underline;
}


/*
    Social Icons
*/
#twitter-ic {color: #55acee !important;}
#git-ic {color: #333 !important;}
#rss-ic {color: #ff9933 !important;}
#gplus-ic {color: #dd4b39 !important;}
#fb-ic {color: #3b5998 !important;}
#medium-ic {color: #3CB371 !important;}
#pdf-ic {color: #ff0000 !important;}

ff0000

.social-icon {
  display: inline;
  margin: 0 5px;

    a:hover {
        text-decoration: none !important;
        opacity: 0.5;
    }
}

/*
 footer
*/

.footer {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    align-items: flex-start;

    p {
        font-size: 12px;
    }

    .right {
        margin: auto;
    }
}

.footer-box {
    flex: 1;
    margin-top: 10px;
}

.footer-box a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.footer-social {
    padding-right: 3px;
}

/*
 posts
*/

.post-title {
    font-size: 3.0vh;
    font-weight: bold;
    color: $accent;
}

.post-pagination {
    display: flex;
    flex-direction: row;

    .first {
        width: 33%;
        text-align: left;
    }
    .second {
        width: 33%;
        text-align: center;
    }
    .third {
        width: 33%;
        text-align: right;
    }
}


/*
 projects
*/

.project-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.box-item {
    background-color: tomato;
    box-sizing: border-box;
    padding: 112px;
    margin: 1px 1px 1px 1px;
    flex: 1 0 3;
}


/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }

    .project-container {
        justify-content: center;
    }
}

@import "typography";
@import "tables";
@import "syntax-highlight-native";

