@import "vars";

/*----------
  Basic
------------- */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Inconsolata";
    font-color: #050604;
    line-height: 1.4em;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/*--------------
  Header
  -------------- */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4{
  font-size: 1.0rem;
}

h5{
  font-size: 0.7rem;
}

h6 {
  font-size: 0.7rem;
  color: #aaa;
}

p {
  margin: 0 0 1rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}


/* --------------
  Navbar
--------------- */

#title-name {
    font-size: 30px;
    color: #1A237E;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* -----------
divs
------------- */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: calc(100vh - 70px);
}

.container a {
    text-decoration: none;
    color: $accent;
}
.container a:hover {
    text-decoration: underline;
}


/*
    Social Icons
*/
#twitter-ic {color: #55acee !important;}
#git-ic {color: #333 !important;}
#rss-ic {color: #ff9933 !important;}
#gplus-ic {color: #dd4b39 !important;}
#fb-ic {color: #3b5998 !important;}
#medium-ic {color: #3CB371 !important;}
#pdf-ic {color: #ff0000 !important;}

.social-icon {
  display: inline;
  margin: 0 5px;

    a:hover {
        opacity: 0.5;
    }
}

/* ------------
 footer
--------------- */

.footer {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    align-items: flex-start;
}

.footer-text {
  flex: 1;
  margin: auto;
  p {
    font-size: 1.6vh;
    line-height: 0.5em;
  }
}

.footer-box {
    flex: 1;
    margin-top: 10px;
}

.footer-box a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.footer-social {
    padding-right: 3px;
}

/* ----------
   posts
------------- */

.post-title {
    font-size: 3.0vh;
    font-weight: bold;
    color: $accent;
}

.post-pagination {
    display: flex;
    flex-direction: row;

    .first {
        width: 33%;
        text-align: left;
    }
    .second {
        width: 33%;
        text-align: center;
    }
    .third {
        width: 33%;
        text-align: right;
    }
}


/* -----------
 projects
-------------- */

.project-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.box-item {
    width: 230px;
    height: 200px;
    margin: .1vw;
    background: lighten($accent, 15);
    /*transition: background 0.5s ease;*/
    flex: 1 0 3;

    text-align: center;

    p {
        font-size: 4.0vh;
        margin-top: 20%;
        color: white;
    }

    /* This make the whole div clickable */
    a {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.box-item:hover {
  background: lighten($accent, 3);

  /* This make the whole div clickable */
  a {
    display: block;
    /*width: 100%;*/
  }
}

/* ------------
  Project
  List
-------------- */
.project-list-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;

  hr {
    margin-left: 0;
    margin-right: 0;
  }
}

.rect-item {
  width: 100%;
  margin: .1vw;

  .thumbnail {
    height: $project-image-size;
    width: $project-image-size;
    /*border-radius: 10%;*/
    margin: 1.0vw 1.0vw 1.0vw 1.0vw;
   /* border: .1vw solid black;*/
  }

  .sprite {
    width: 75px;
    height: 75px;
    /*border-radius: 10%;*/
    margin: 1.0vw 0 1.0vw 1.0vw;
   /* border: .1vw solid black;*/
  }

  .text {
    width: 80%;
    margin-left: 1.0vw;

  }
  p {
    color: black;
  }

  .project-title {
    font-size: 18px;
    font-weight: bold;
    color: $accent;
  }
}

.project-tab {
  display: flex;
}

.rect-item:hover {
  .text {
    .project-title {
      text-decoration: underline !important;
    }
  }
  /* This make the whole div clickable */
  a {
      display: block;
      /*width: 100%;*/
  }
}

/* -------
  Some
  common
  settings
--------- */
.box-item, .rect-item {

  a:hover {
    text-decoration: none !important;
  }
}

.project-list-container, .project-container, .social-icon {
  a:hover {
    text-decoration: none !important;
  }
}


/* ---------
   Mobile
----------- */
@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
    .thumbnail {
      display: none;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }

    .project-container, .project-tap {
        justify-content: center;
    }

    .box-item {
      min-width: 100%;
    }

    /* arrange the title text */
    .text {
      min-width: 100%;
      div {
        margin-top: 5vw;
      }
    }
}

@import "typography";
@import "tables";
@import "syntax-highlight-native";

