@import "vars";
@import "font";

/*----------
  Basic
------------- */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-size: $font-size;
  color: $base-font-color;
  background-color: $background-color;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*--------------
  Header
  -------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
  line-height: $line-height;
  letter-spacing: -0.025rem;
  color: $heading-color;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
  color: #aaa;
}

p {
  margin: 0 0 1rem;
}
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

dd {
  margin-left: 200px;
  margin-bottom: 0.5rem;
}

ol {
  list-style: inside decimal;
  padding-left: 0;

  li {
    margin-bottom: 0.25rem;
  }

  ul,
  ol {
    margin-left: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border-top: 1px dotted $background-color;
  // border-bottom: 1px dotted #fff;
  margin: 1rem auto;
}

strong {
  color: $heading-color;
  font-weight: bold;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: $light-gray-color;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $light-gray-color;
}

button,
input,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 2 */
  margin: 0; /* 3 */
}

/* --------------
  Navbar
--------------- */

#title-name {
  font-size: 1.8rem;
  color: $blog-title-color;
  display: inline-block;
}
.navbar {
  padding: 40px 0 70px 0;
  font-weight: 700;
  font-size: 0.85rem;
}
.navbar-ul {
  display: inline-block;
  margin-top: 1.5rem;
}
.nav-list {
  list-style-type: none;
  margin: 0 2px 0 2px;
}
.alignable {
  display: inline-block;
}
.pull-left {
  @extend .alignable;
  float: left;
}
.pull-right {
  @extend .alignable;
  float: right;
}

/* -----------
divs
------------- */

.container {
  max-width: $max-width;
  margin: auto;
}
.wrapper {
  min-height: calc(100vh - 100px);
}

.container a {
  color: $accent;
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
}

/*
    Social Icons
*/
#twitter-ic {
  color: #55acee !important;
}
#git-ic {
  color: #cccccc !important;
}
#rss-ic {
  color: #ff9933 !important;
}
#fb-ic {
  color: #3b5998 !important;
}
#medium-ic {
  color: #3cb371 !important;
}
#stackoverflow-ic {
  color: #ff6600 !important;
}
#pdf-ic {
  color: #ff0000 !important;
}

.social-icon {
  display: inline;
  margin: 0 5px;
  a:hover {
    opacity: 0.5;
  }
}

/* ------------
 footer
--------------- */
footer {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  justify-content: center;
}

.footer-text {
  flex: 1;
  height: 50%;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.9rem;

  p span {
    display: block;
  }
}

.footer-box {
  flex: 1;
  height: 40%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer-box a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.footer-social {
  padding-right: 0.3rem;
}

/* ----------
   posts
------------- */

.post-pagination {
  display: flex;
  flex-direction: row;

  .first {
    width: 33%;
    text-align: left;
  }
  .second {
    width: 33%;
    text-align: center;
  }
  .third {
    width: 33%;
    text-align: right;
  }
}

.post-share {
  margin-bottom: 1rem;

  a:hover {
    text-decoration: none !important;
    opacity: 0.5;
  }
}

/* -----------
 project
 type
-------------- */
.project-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.box-item {
  width: 230px;
  height: 200px;
  margin: 1px;
  background: $project-box-color;
  text-align: center;
  flex: 1 0 3;

  /* change font size to make bigger  */
  p {
    font-size: 1.5rem;
    padding-top: 20%;
    color: $base-font-color;
  }
  /* This make the whole div clickable */
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.box-item:hover {
  text-decoration: underline;
  text-decoration-color: $project-box-color;
  background: rgba($accent, 0.5);
}

/* ------------
  project box
-------------- */
.project-list-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;

  hr {
    margin-left: 0;
    margin-right: 0;
  }
}

/*
Each project box item
*/
.rect-item {
  width: 100%;
  margin: 1rem;

  .project-tab {
    display: flex;
    flex-flow: row wrap;
  }
  .thumbnail {
    height: 3rem;
    position: center;
    width: 3rem;
    margin: 1rem;
  }
  .text {
    margin-left: 1vw;
    overflow-wrap: break-word;
    width: 80%;

    .project-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: $accent;
      margin-bottom: 1rem;
    }
  }
}

.rect-item:hover {
  .text {
    .project-title {
      text-decoration: underline !important;
    }
  }
  /* This make the whole div clickable */
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* -------
  Some common settings
--------- */
.project-list-container,
.project-container,
.social-icon {
  a:hover {
    text-decoration: none !important;
  }
}

/* ----------
Flickr Photos
------------*/
.photo {
  display: flex;
  flex-direction: row;
  flex-flow: column;
  margin: 2rem 0 2rem 0;
  justify-content: center;

  .gallery-thumbnail {
    background-size: cover;
    padding-bottom: 80%;
  }
  .gallery-thumbnail:hover {
    opacity: 0.9;
  }
}

/* ----------
Things
------------*/
.thing-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-height: 70px;

  .title-slot {
    max-width: 20%;
    padding: 0.5em;
    font-size: 1.2rem;
    margin: 1em;
    text-align: center;
  }
  a {
    color: $accent;
  }
}

.thing-category {
  display: flex;
  font-size: 1.2rem;
  height: 2rem;
  justify-content: center;

  .category-slot {
    width: 30%;
    text-align: center;
    margin: 1rem;
  }
  a {
    color: $accent;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .left {
    width: 33%;
    text-align: left;
  }
  .center {
    width: 33%;
    text-align: center;
  }
  .right {
    width: 33%;
    text-align: right;
  }
}

/* ---------
   Media Query for mobile adaptability
----------- */
@media (max-width: 800px) {
  .container {
    max-width: $med-width;
    transition: 0.3s ease all;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 83%;
  }
  .navbar-ul {
    margin-top: 5px;
  }
}

@media (max-width: 580px) {
  #author-name {
    display: inline-block;
  }
  .project-container,
  .project-tap {
    justify-content: center;
  }

  /*
    Hide the icon
  */
  .thumbnail {
    display: none;
  }

  /* Change the size of box item */
  .box-item {
    min-width: 100%;
  }
  /* arrange the title text */
  .text {
    min-width: 100%;
    div {
      margin-top: 5vw;
    }
  }
}

@import "typography";
@import "tables";
@import "syntax-highlight-native";
@import "page";
