/*
* Syntax highlighting styles
*/

code,
pre {
  align-self: flex-start;
  font-family: $code-font;
  font-size: $code-font-size;
  overflow: auto;
  white-space: pre-wrap;
  min-width: 100%;
  overflow-wrap: break-word;
}

code {
  padding: .25em .75em;
  color: $code-color;
  background-color: $code-background-color;
  border-radius: 3px;
  display: inline;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
}

pre {
    margin: 1rem;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: $code-gist-font;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

$dt-gray-dark: #282a36;  // Background
$dt-gray: #44475a;       // Current Line & Selection
$dt-gray-light: #f8f8f2; // Foreground
$dt-blue: #6272a4;       // Comment
$dt-cyan: #8be9fd;
$dt-green: #50fa7b;
$dt-orange: #ffb86c;
$dt-pink: #ff79c6;
$dt-purple: #bd93f9;
$dt-red: #ff5555;
$dt-yellow: #f1fa8c;

/*
 * Styles
 */

.highlight {
  background: $dt-gray-dark;
  color: $dt-gray-light;

  .hll,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: $dt-yellow;
  }

  .go {
    color: $dt-gray;
  }

  .err,
  .g,
  .l,
  .n,
  .x,
  .p,
  .ge,
  .gr,
  .gh,
  .gi,
  .gp,
  .gs,
  .gu,
  .gt,
  .ld,
  .no,
  .nd,
  .ni,
  .ne,
  .nn,
  .nx,
  .py,
  .w,
  .bp {
    color: $dt-gray-light;
  }

  .gh,
  .gi,
  .gu {
    font-weight: bold;
  }

  .ge {
    text-decoration: underline;
  }

  .bp {
    font-style: italic;
  }

  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: $dt-blue;
  }

  .kd,
  .kt,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $dt-cyan;
  }

  .kd,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    font-style: italic;
  }

  .na,
  .nc,
  .nf,
  .fm {
    color: $dt-green;
  }

  .k,
  .o,
  .cp,
  .kc,
  .kn,
  .kp,
  .kr,
  .nt,
  .ow {
    color: $dt-pink;
  }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $dt-purple;
  }

  .gd {
    color: $dt-red;
  }
}

