@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    img {
        text-align: center;
        max-width: 100%;
        /*margin: 0 0 1rem;*/
    }

    figure {
        display: flex;
        min-width: 100%;
        flex-flow: row wrap;

        .small {
            max-width: 40%;
            height: auto;
            margin: 0 3vh 3vh 3vh;
        }

        .large {
            max-width: 90%;
            height: auto;
            margin: 0 0 1vh 0;
        }

        .medium {
            max-width: 60%;
            height: auto;
            margin: 0 0 1vh 0;
        }

    }

    figcaption {
        font-size: 2vh;
        font-style: italic;
        text-align: center;
    }

    .improve-article-wrapper {
        display: block;
        height: 40px;
        margin-bottom: 1vh;
        p {
            font-size: 2vh;
        }
        /*
        .button {
            background-color: #008CBA;
            border: none;
            color: white;
            padding: 1vh 2vh;
            text-align: center;
            display: inline-block;
            font-size: 2vh;
            text-decoration: none;

            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .button:hover {
            opacity: 50;
        }*/
    }
    .improve-article {
        min-width: 100%;
        text-align: left;
    }
    .improve-button {
        min-width: 30%;
        align-content: left;
    }

    .videowrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
