@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }

    blockquote {
      padding: 0.8rem;
      margin: 0 2rem 1rem 0;
      color: $heading-color;
      border-left: .2rem solid $light-gray-color;
      font-weight: bold;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    img {
        text-align: center;
        width: 100%;
    }

    figure {
        display: flex;
        width: 100%;
        flex-flow: wrap;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;

        .small {
            max-width: 40%;
            height: auto;
            margin: 30px 30px 30px 0;
        }

        .large {
            max-width: 100%;
            height: auto;
            margin: 10px 10px 10px 0;
        }

        .medium {
            max-width: 60%;
            height: auto;
            margin: 10px 10px 10px 0;
        }

    }

    figcaption {
        font-size: 0.7rem;
        letter-spacing: 0.0rem;
        line-height: 1rem;
        font-style: italic;
        text-align: center;
    }

    .improve-article-wrapper {
        display: flex;
        height: 20px;
        flex-direction: row;
        align-items: center;
    }
    .improve-article-text {
        min-width: 70%;
        text-align: left;
        margin-top: 2%;

        @media (max-width: 650px) {
            display: none;
        }
    }
    .improve-article-button {
        min-width: 30%;
        margin-left: 1rem;
        align-content: right;

        @media (max-width: 650px) {
            width: 100%;
            margin-left: 40%;
        }
    }
    .videowrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 1rem;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
