@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }

    blockquote {
      padding: 0 0 0 1.5rem;
      margin: 0 2rem 1rem 0;
      color: #999;
      border-left: .5rem solid #e5e5e5;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: -10px 0 0 15px;
        float: right;
        border-radius: 50%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    img {
        text-align: center;
        max-width: 100%;
        /*margin: 0 0 1rem;*/
    }

    figure {
        display: flex;
        min-width: 100%;
        flex-flow: row wrap;

        .small {
            max-width: 40%;
            height: auto;
            margin: 0 3vh 3vh 3vh;
        }

        .large {
            max-width: 100%;
            height: auto;
            margin: 0 0 1vh 0;
        }

        .medium {
            max-width: 60%;
            height: auto;
            margin: 0 0 1vh 0;
        }

    }

    figcaption {
        font-size: 1.8vh;
        font-style: italic;
        text-align: center;
    }

    .improve-article-wrapper {
        display: flex;
        height: 20px;
        flex-direction: row;
        align-items: center;

        .button {
            background-color: #1976D2;
            color: white;
            padding: 1vh 3vh;
            text-align: center;
            display: inline-block;
            font-size: 2vh;
            text-decoration: none;
        }

        a:hover {
            opacity: 0.5;
        }

    }
    .improve-article {
        min-width: 70%;
        text-align: left;
        margin-top: 2%;
    }
    .improve-button {
        min-width: 30%;
        margin-left: 1rem;
        align-content: right;
    }

    .videowrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 1rem;
    }
    .videowrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
