/*
 * Customization Variables
 */

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600';

/* Custom */
$accent: #ff2e88;
$image-size: 85px;
$project-image-size: 70px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;

/*
  Font Sizes
*/
$font-family: 'Menlo';
$base-spacing: 1.0rem;
$line-height: 1.5rem;
$font-size: 0.9rem;
$letter-spacing: normal;

/* Font Colors */
$base-font-color: #cccccc;

/* colors */
$black-color: #000;
$dark-gray-color: #333;
$light-gray-color: #ccc;
$light-red-color: #ef5350;
$light-blue-color: #8C9EFF;
$light-green-color: #f44336;
$base-color: #cccccc;
$background-color: #22222b;
$background-over-color: #ff2e88;
$black: #263238;
$light-gray: #050604;
$title-color: #ef5350;

/* code */
$code-color: #cccccc;
$code-font-size: 0.9rem;
$code-background-color: #333333;
$code-font: Menlo, Monaco, monospace;
$code-gist-font: Menlo, Monaco, "Courier New", monospace !important;
