/*
 * Customization Variables
 */

$accent: #2962FF;
$image-size: 85px;
$project-image-size: 70px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;

/*
  Font Sizes
*/
$base-spacing: 1.2 * 1em;

/* colors */
$black-color: #000;
$dark-gray-color: #333;
$light-gray-color: #ccc;
$light-red-color: #ef5350;
$light-blue-color: #1976D2;
$light-green-color: #f44336;

/* Font Colors */
$base-font-color: rgba($dark-gray-color, .8);
