/*
 * Customization Variables
 */

/* Custom */
$accent: #66ccff;
$image-size: 85px;
$project-image-size: 70px;
$blog-title-color: #fffff;

/*
 * Build Variables, don't touch
 */

$max-width: 800px;
$med-width: 700px;
$small-width: 480px;

/*
  Font Sizes
*/
$font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
$base-spacing: normal;
$line-height: 1.54;
$font-size: 0.9rem;
$letter-spacing: normal;

/* Font Colors */
$base-font-color: #cccccc;

/* colors */
$black-color: #000;
$dark-gray-color: #333;
$light-gray-color: #cccccc;
$light-red-color: #ef5350;
$light-blue-color: #8C9EFF;
$light-green-color: #f44336;
$base-color: #fff;
$background-color: #010101;
$background-over-color: #ff8246;
$black: #263238;
$light-gray: #050604;
$search-color: #acdbdf;
$heading-color: #acdbdf;

/* code */
$code-color: #282a36;
$code-font-size: 0.8rem;
$code-background-color: #ef5350;
$code-font: Menlo, Monaco, monospace;
$code-gist-font: Menlo, Monaco, "Courier New", monospace !important;
