---
layout: default
---
<div>
  {% for post in paginator.posts %}
  <div>
    <div>
    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
       <h1> {{ post.title }} </h1>
    </a>
    </div>
      {% include time_to_read.html %}
    <p>
      {{ post.description }}
    </p>
    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
      <strong>Read More</strong>
      <span class="fas fa-external-link-alt fa-sm"></span> 
    </a>
  </div>
  <hr>
  {% endfor %}
</div>
{% include pagination.html %}

