---
layout: default
---
<div>
	{% for post in paginator.posts %}
	<div>
    <div class="post-title">
        {{ post.title }}
    </div>
    <p>
      {% if post.categories.size > 0 %}
      <span>
      {{ post.categories | array_to_sentence_string }}
      </span> |
      {% endif %}
      <span>
      {{ post.date | date: "%b %-d, %Y" }}
      </span>
    </p>
		<p>
			{{ post.description }}
		</p>
		<p>
			<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
				Read More
		  </a>
		</p>
	</div>
  <hr>
	{% endfor %}
</div>
{% include pagination.html %}

