<script type="text/javascript">
    var endpoint = "https://api.flickr.com/services/rest/"
    var apiKey = "{{site.flickr.api_key}}";
    var extras = "url_m, url_l";
    var method = "flickr.people.getPublicPhotos"
    var user_id = "{{site.flickr.user_id}}";
    var per_page = "54";
    var flickr_url = "https://www.flickr.com/photos/{{site.flickr.user_id}}/%id%"

    var request = endpoint+"?method="+method+
                "&api_key="+apiKey+
                "&user_id="+user_id+
                "&extras="+extras+
                "&per_page="+per_page+
                "&format=json&jsoncallback=?";
    $.getJSON(request,buildGallery);

    function buildGallery(data, result){
        if(result=="success"){
            var photos = data.photos.photo;
            for(var i = 0; i < photos.length; i++){
                // Add fancybox http://fancyapps.com/fancybox/#license
                $('<a class="gallery-thumbnail" rel="fancybox-thumb">').attr("style", "background-image:url(%src%)".replace("%src%", photos[i].url_m)).attr("href", photos[i].url_l).attr("title", photos[i].title).appendTo(".photo");
            }
        }
    }

    $(document).ready(function() {
    $(".gallery-thumbnail").fancybox({
        prevEffect  : 'none',
        nextEffect  : 'none',
        padding : 0,
        helpers : {
            title   : {
                type: 'outside'
            },
            thumbs  : {
                width   : 50,
                height  : 50
            },

            overlay : {
                closeClick : false
            }
        },
        });
    });
</script>
