<ul class="header-links">
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
	</li>
	<li>
		<a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a>
	</li>
	<li>
		<a href="{{ '/links' | prepend: site.baseurl | prepend: site.url }}">Links</a>
	</li>
  <li>
    <a href="{{ '/tag' | prepend: site.baseurl | prepend: site.url }}">Tags</a>
  </li>
  <li>
    <a href="{{ '/contact' | prepend: site.baseurl | prepend: site.url }}">Contact</a>
  </li>
</ul>