<h6>Follow me</h6>

<ul class="social-media">

    {% if site.trivium.social.twitter %}
    <li>
        <a title="{{ site.trivium.social.twitter }} on Twitter"
            href="https://twitter.com/{{ site.trivium.social.twitter }}"
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>
    {% endif %}

    {% if site.trivium.social.github %}
    <li>
        <a title="{{ site.trivium.social.github }} on Github"
            href="https://github.com/{{ site.trivium.social.github }}"
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.trivium.social.facebook %}
    <li>
        <a title="{{ site.trivium.social.facebook }} on Facebook"
            href="https://facebook.com/{{ site.trivium.social.facebook }}"
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.trivium.social.gplus %}
    <li>
        <a title="{{ site.trivium.social.gplus }} on Google Plus"
            href="https://plus.google.com/{{ site.trivium.social.gplus }}"
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

</ul>