<div class="post-share">
  <span> Share </span>
  <a id="twitter-ic" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.trivium.social.twitter }}&related={{ site.trivium.social.twitter }}" rel="nofollow" target="_blank">
      <i class="fab fa-twitter fa-2x footer-social"></i>
  </a>
  <a id="fb-ic" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank">
      <i class="fab fa-facebook-square fa-2x footer-social"></i>
  </a>
  <a id="rss-ic" href="{{ site.url }}/feed.xml" target="_blank">
    <i class="fas fa-rss-square fa-2x footer-social"></i>
  </a>
</div>
