{% if post == null %}
{% assign words = content | number_of_words %}
{% if page.categories.size > 0%}
{{ page.categories | array_to_sentence_string }}
<span class="fas fa-tags fa-sm footer-social"></span>
{% endif %}
{{ page.date | date: "%Y-%m-%d" }}
<span class="fas fa-calendar-day fa-sm footer-social"></span>
{% else %}
{% assign words = post.content | number_of_words %}
{% if post.categories.size > 0 %}
{{ post.categories | array_to_sentence_string }}
<span  class="fas fa-tags fa-sm footer-social"></span>
{% endif %}
{{ post.date | date: "%Y-%m-%d" }}
<span  class="fas fa-calendar-day fa-sm footer-social"></span>
{% endif %}
{% if words < 360 %} 1 min {% else %}
{{ words | divided_by:180 }} mins
{% endif %} 
<span class="fas fa-clock fa-sm footer-social"></span>
