{% if post == null %}
{% if page.categories.size > 0%}
<span class="fas fa-tags fa-sm footer-social">
  {{ page.categories | array_to_sentence_string }}
</span>
{% endif %}
<span  class="fas fa-calendar-day fa-sm footer-social">
  {{ page.date | date: "%Y-%m-%d" }}
</span>
{% else %}
{% if post.categories.size > 0 %}
<span  class="fas fa-tags fa-sm footer-social">
  {{ post.categories | array_to_sentence_string }}
</span>
{% endif %}
<span  class="fas fa-calendar-day fa-sm footer-social">
  {{ post.date | date: "%Y-%m-%d" }}
</span>
{% endif %}
<span class="fas fa-clock fa-sm footer-social">
  {% assign words = content | number_of_words %}
  {% if words < 360 %} 1 min {% else %}
   {{ words | divided_by:180 }} mins
  {% endif %}
</span>
