<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.trivium.name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.trivium.meta_description }}{% endif %}">

        <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <!-- Add favicon -->
        <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/css/images/logo1.png">
        <!-- trivium styles -->
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div class="wrapper">
        <div class="navbar container">
            <a id="title-name" class="alignable pull-left" href="/">{{ site.trivium.name }}</a>
            {% include header-links.html %}
        </div>
        <div style="clear:both"></div>
        <hr>

        <div class="container content">
            {{ content }}
        </div>
    </div>


    <footer class="footer">
        {% include social.html %}
    </footer>

    <!-- Google analytics  -->
    {% include google-analytics.html %}
    <script id="dsq-count-scr" src="//rudrakos.disqus.com/count.js" async></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    {% include addthis.html %}
    </body>
</html>
