---
layout: default
---
<div>
  <div> <h1> {{ page.title }} </h1> </div>
  {% include time_to_read.html %}
  <hr/>
  <article>
    {{ content }}
  </article>
</div>

<hr/>
<div class="post-pagination">
  <div class="first">
    {% if page.previous %}
    <a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}">
      <span class="fas fa-backward fa-lg"></span>
    </a>
    {% else %}
      <span class="fas fa-backward fa-lg"></span>                                                   {% endif %}
  </div>
  <div class="second">
    <a href="/">
      <span class="fas fa-home fa-lg">
   </a>
  </div>
  <div class="third">
    {% if page.next %}
    <a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">
      <span class="fas fa-forward fa-lg"></span>
    </a>
    {% else %}
    <span class="fas fa-forward fa-lg"></span>
    {% endif %}
  </div>
</div>

<hr>
<!-- Add improve button -->
{% include improve.html %}
<!-- share -->
<hr>
{% include social.html %}
<hr>
{% include commento.html %}
